body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.imagem {
    margin-top: 70px;
    width: 400px; /* Largura desejada */
    height: auto; /* Altura automática para manter a proporção original */
}